pkgbase = zls-git
	pkgdesc = Zig LSP implementation + Zig Language Server
	pkgver = r2232.a8a83b6
	pkgrel = 1
	url = https://github.com/zigtools/zls
	arch = x86_64
	arch = aarch64
	arch = i686
	license = MIT
	makedepends = git
	makedepends = curl
	makedepends = jq
	makedepends = minisign
	makedepends = ripgrep
	provides = zls
	conflicts = zls
	replaces = zls-master-data-git
	source = git+https://github.com/zigtools/zls
	sha256sums = SKIP

pkgname = zls-git
